* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg, rgb(180, 228, 238), rgb(165, 237, 193), rgb(238, 194, 156));
}

div {
    padding: 5px 5px 5px 5px;
    color: #fff;
    font-size: 55px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}

div:hover {
    transform: rotateZ(30deg);
    margin-bottom: 40px;
    box-shadow: 18px 20px 2px rgba(255, 255, 255, 0.5);
}